
<div class="row">
    <app-userprofile 
    class="col-lg-6 nopadding" 
    (newItemEvent)="setUPData($event)" 
    ></app-userprofile>

    <app-useroutput
    class="col-lg-6 nopadding"
    *ngIf="this.showUserOutput == true"
    [fName] = "getFirstName()"
    [lName] = "getLastName()"
    [emailadd] = "getEmailAddress()"
    [password] = "getHashedPassword()"
    [cpNum] = "getCPNum()"
    ></app-useroutput>
    
</div>

<div class="row">
  <app-jobprofile
    class="col-lg-6 nopadding"
    (newItemEvent)="setJPData($event)"
  ></app-jobprofile>

  <app-joboutput
    class="col-lg-6 nopadding"
    *ngIf="this.showJobOutput == true"
    [companyName]="getCompanyName()"
    [location]="getLocation()"
    [jobTitle]="getJobTitle()"
    [jobDescription]="getJobDescription()"
    [salary]="getSalary()"
  ></app-joboutput>
</div>
